html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: rgb(40,46,56);
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  vertical-align: center;
}

a:hover {
  color: rgba(166,51,100,0.8);
}

nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 9999;
  background-color: rgba(255,255,255, 0.7);
}

body{
  background-color: white;
  margin: 0;
  margin-top: 0;
}

.mainPages {
  margin:0;
}

#Home {
  height: 100%;
  background-image: url("laptop.jpg");
  left:0;
  right:0;
  color: white;
  text-align: center;
  margin: 0;
}
#Home h1 {
  font-family: 'Lato', sans-serif;
  vertical-align: middle;
  padding-top: 500px;
  text-shadow: 2px 2px 18px #363130;
  margin-top:0;
  font-size:60px;
  font-weight:normal;
}

#Home p {
  color: white;
  font-size: 23px;
  font-family: 'Poiret One', cursive;
  text-shadow: 2px 2px 18px #363130;
}

#About {
  height: 100%;
  background-image: url("Contact.jpg");
  background-size: 100% 100%;
  padding:100px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}
#About img {
  float: right;

}

#Portfolio {
  height: 100%;
  /*background-image: url("Coffee.jpeg");*/
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  padding-top: 100px;
  padding-right: 80px;
  margin:20px;
}

#project1 {
  margin: 1.5rem;
  display: inline-block;
}

#project2 {
  margin: 1.5rem;
  display: inline-block;
}

#Contact {
  min-height: 100%;
  /*background-image: url("Contact.png");*/
  /*background-size: 100% 100%;*/
  background: #ebecec;
  margin:30px;
  padding-bottom:50px;
  text-align:center;
}

#Contact h1 {
  text-align:left;
  padding-top:83px;
  padding-left: 79px;
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

.icons {
  padding:45px 45px 60px;
  text-align:center;
  color:white;
  width:400px;
  margin:20px;
  border-radius:30px;
  display:inline-block;
}

.icons h2 {
  font-family: 'Poiret One', cursive;
  font-size: 35px;
}


@media (min-width: 600px) {
  li a {
    font-size: 25px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
  }

  nav {
    height: 4rem;
  }

  #Home {
    background-image: no-repeat;
    background-size: cover;
    width: 110%;
    height:110%;
  }
  #About {
    background-image: no-repeat;
    width: 110%;
    height: 110%;
    margin: 0 auto;
  }

  #About img {
  margin: 20%;
  display: block;
  width: 80%;
  }

  #Contact {
    width: 100%;
    margin: 5%;
  }

  #Portfolio {
    height: 110%;
  }

/*  #Portfolio img {
    width:40%;
    height:20%;
    margin:2%;
  }*/
}
